<mat-card class="kard">
  
  <img mat-card-avatar [src]="kard.imageUrl" alt="">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{kard.title}}</mat-card-title>
      <mat-card-subtitle>{{kard.subTitle}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="kard.description">{{kard.description}}</p>
    <img mat-card-md-image [src]="kard.imageUrl" alt="(_card_sm_image_)">
  </mat-card-content>

<mat-card-actions align='end'>
  <mat-chip-list aria-label="Card data selection">
  <mat-chip >Action 1</mat-chip>
  <mat-chip color="primary" selected >Action 2</mat-chip>
</mat-chip-list>
</mat-card-actions>

<mat-card-footer *ngIf="kard.footer">{{kard.footer}}</mat-card-footer>
 
</mat-card>