<h1>
ANGULAR MATERIAL RADIO BUTTON
</h1>
<ul>
  <li><span class="badge">Basic / Default:</span><br>
    <p class="materialDemoItem">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </p>
  </li>
  <li><span class="badge">Theme Related:</span><br>
    <p>Option 1 uses default color.  Option 2 uses color="primary". Option 3 uses color="warn".</p>
    <p class="materialDemoItem">
      <mat-radio-group color="primary" aria-label="Select an option">
        <mat-radio-button value="1" >Option 1</mat-radio-button>
        <mat-radio-button value="2" color="primary">Option 2</mat-radio-button>
        <mat-radio-button value="3" color="warn">Option 3</mat-radio-button>
      </mat-radio-group>
    </p>
  </li>
</ul>

<a routerLink="/amd">Return To Angular Material Demo</a>