li  {
  display: inline-block;
  font-size: medium;
  color: black;
  
  background-color:#bbc7d4;
  line-height: 1.25em;
  position: relative;
  
  width: 80%;
  margin: 0 .8em 1em 0;
  padding: 0.4em 0.2em 0.4em 0.7em;
  border-radius: 4px 0 0 4px;
}
p {
  width: 90%;
}