<h1>Material Design</h1>
<p>Material Design is inspired by the physical world and its textures, including how they reflect light and cast shadows. Material surfaces reimagine the mediums of paper and ink.</p>
<ul>
  <li>
  Material Design was designed by Google in 2014 and has later been adopted in many Google application.  Material Design uses elements that remind us of paper and ink. In addition the elements have realistic shadows and hover effects.  In May 2018, Google released a revised version to remedy a major problem – the original guidelines were restrictive, emphasizing function over style.
  </li>
  <li>Learn More about Material Design</li>
  <ul>
   <li>You’ll find Google’s Material Design guidelines and library here: 
  <a href="https://design.google/resources/">https://design.google/resources/</a> and here: <a href="https://material.io/design/">https://material.io/design/</a>
    </li>

<li>Learn how to create interfaces that mimic real-world objects: <a href="https://www.interaction-design.org/courses/how-to-create-intuitive-products-by-imitating-physicality">https://www.interaction-design.org/courses/how-to-create-intuitive-products-by-imitating-physicality</a></li>

<li>A detailed piece on standing out with Material Design: <a href="https://usabilitygeek.com/10-guidelines-material-design/">https://usabilitygeek.com/10-guidelines-material-design/</a></li>

<li>An enlightening do’s-and-don’ts guide to Material Design: <a href="https://uxplanet.org/dont-risk-making-a-crappy-ui-use-material-design-520ebaceffe4">https://uxplanet.org/dont-risk-making-a-crappy-ui-use-material-design-520ebaceffe4</a>
  </li>
</ul>