<h1>
ANGULAR MATERIAL CHECKBOX
</h1>
<ul>
  <li><span class="badge">Basic / Default:</span><br>
    <p class="materialDemoItem">
      <mat-checkbox>Check me!  Notice my annimation and default color style.</mat-checkbox>
    </p>
  </li>
  <li><span class="badge">Theme Related:</span>  <br><p>By default, checkboxes use the theme's accent color. This can be changed to 'primary' or 'warn'.</p>
    <p class="materialDemoItem">
      <mat-checkbox color="primary">Check me! I use color="primary"</mat-checkbox>
    </p>
    <p class="materialDemoItem">
      <mat-checkbox color="warn">Check me! I use color="warn"</mat-checkbox>
    </p>
</ul>

<a mat-raised-button routerLink="/amd">Return To Angular Material Demo</a>