<h1>Angular Material Demo</h1>
<p class="indentedP">
Angular Material comprises a range of components which implement common interaction patterns according to the <a routerLink="/mdi">Material Design</a> specification.  
</p>
<h3>Select an item below to view that item implemented using Angular Material.</h3>
<ul>
  <li><a routerLink="/app-material-button-demo">Button</a></li>
  <li><a routerLink="/app-material-checkbox-demo">Checkbox</a></li>
  <li><a routerLink="/app-material-radio-button-demo">Radio Button</a></li>
  <li><a routerLink="/app-material-date-picker-demo">Date Picker</a></li>
</ul>
<a mat-raised-button routerLink="/demos">Return To  Demo Selection Page</a>