<div class="app-container">
	<mat-toolbar color="primary" class="topbar-toolbar">
		  <button mat-icon-button (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>
      <a [routerLink]="['/']"><img [src]="topbarImageUrl"  height="45px" title="Home"> </a>
      
      <nav class="topbar-nav">
        <div>
        <ul>
          <li><a routerLink="/" title="Home Page"><mat-icon>home</mat-icon></a></li>
        </ul>
        </div>
      </nav>
  </mat-toolbar>
  <div class="contentFrame">
    <mat-sidenav-container >
      <mat-sidenav #snav mode="side">
        <mat-nav-list>
          <button mat-button disableRipple class="d-block w-100" color="primary" 
            *ngFor="let menu of minimalOptions" [disabled]="menu.disabled" [routerLink]="menu.link">
        <mat-icon>{{ menu.icon }}</mat-icon>
        <small class="d-block">{{ menu.name }}</small>
      </button>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>





       </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>