p {
  font-family: Lato;
}
.bgimg {
    background-image: url('https://github.com/kluczka-l/angular-jpznfv/blob/master/src/assets/ripples.jpg?raw=true');
}

.appContent {
  border: 5px solid rgb(1, 6, 12);
  padding: 1rem;
  margin: 1rem 0;
  background-color: #3d4857;
}