<div class="appContent">
<h1>Welcome To {{siteName}} Prototype</h1>
<h3>Version One</h3>


<p>
  To Do:  Banner, Sidebar, Sidebar Options, Content For Each Option.
</p>

<div class="kardData"> 
    Title Type Desired: <input type="text" 
    name="k_card_desired">
    <button (click)="changeCard()">Change Card</button>
    <br>
    <p></p>
    <input [value] = "cardTitleTypeLocal" (input)="update($event.target.value)"/> 
    <br>






</div>

<kard kardTitle="Card 1 Title" 
      kardSubTitle="Card 1 Sub Title"
      kardImageText="Card Image Text"
      [kardImage]="image1Url"
      kardFooter="Card 1 Footer">
</kard>

<kard kardTitle="Card 2 Title" 
      kardSubTitle="Card 2 Sub Title"
      kardImageText="Card Image Text"
      [kardImage]="image2Url"
      kardFooter="Card 2 Footer">
</kard>


</div>
