
<h1>Welcome To {{siteName}} Prototype</h1>
<img src="https://github.com/kluczka-l/angular-jpznfv/blob/master/src/assets/ripples.jpg?raw=true" alt="Ripples" width="200" height="200">

<p>Version One</p>
<div >
<p>
  To Do:  Banner, Sidebar, Sidebar Options, Content For Each Option.
</p>
  <div> 
    Title Type Desired: <input type="text" 
    name="k_card_desired">
    <button (click)="changeCard()">Change Card</button>
<br>
<p></p>
    <input [value] = "cardTitleTypeLocal" (input)="update($event.target.value)"/> 
<br>
<div class="kard">
<kard kardTitle="Card Title" 
      kardSubTitle="Card Sub Title"
      kardImage="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
      kardFooter="Card Footer">
</kard>
</div>
</div>