p {
  font-family: Lato;
}
.bgimg {
    background-image: url('https://github.com/kluczka-l/angular-jpznfv/blob/master/src/assets/ripples.jpg?raw=true');
}
.kard {
  border: 1px solid rgb(25, 118, 210);
  padding: 1rem;
  margin: 1rem 0;
  background-color: #dae8f9;
}