<p>
Select Demo To View:
</p>
 <ul>
      <li appHighlight><a routerLink="/ngxb">NGX Bootstrap Demo</a></li>
      <li appHighlight><a routerLink="/app-ngx-spinner1-demo">NGX Spinner Demo</a> To Do</li>
      <li appHighlight><a routerLink="/amd">Angular Material Demo</a></li>
      <li appHighlight><a routerLink="/app-other-demo-stuff">Other Demo Stuff</a></li>
      <li appHighlight><a routerLink="/cards">Cards Example:</a></li>
  </ul>
  <a mat-raised-button routerLink="/">Return To Home Page</a>