<h3>NGX BOOTSTRAP BUTTON</h3>
<ul>
  <li>
    <span class="badge">Basic:</span> 
    <p>Recommendation: A &lt;button&gt; element should be used whenever some action is performed.</p>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>    
      <button type="button" class="btn btn-dark">Dark</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-link" routerLink="/ngxd">Link</button>
      <a routerLink="/ngxd" class="btn btn-info" role="button">&lt;a&gt; Link Button</a>
    </p>
  </li>
  
</ul>
<a routerLink="/ngxd">Return To NGX Bootstrap Demo</a>