<h3>NGX BOOTSTRAP BUTTON</h3>
<p>Recommendation: A &lt;button&gt; element should be used whenever some action is performed.</p><p>Button styles can be applied to any element. However, it is applied normally to the &lt;a&gt;, &lt;input&gt;, and &lt;button&gt; elements for the best rendering.</p>
<ul>
  <li>
    <span class="badge">Basic Styles:</span> <br>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>    
      <button type="button" class="btn btn-dark">Dark</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-link" routerLink="/ngxd">Link</button>
      <a routerLink="/ngxd" class="btn btn-info" role="button">&lt;a&gt; Link Button</a>
    </p>
  </li>
  <li>
    <span class="badge">Basic Outline Styles:</span> <br>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
      <button type="button" class="btn btn-outline-light">Light</button>
    </p>
  </li>
  <li>
    <span class="badge">Basic Sizes:</span> <br>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-primary btn-sm">Primary</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary btn-lg">Primary</button>
    </p>
  </li>
  <li>
    <span class="badge">Block:</span> <br>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-primary btn-block">Primary 1</button>
      <button type="button" class="btn btn-primary btn-block">Primary 2</button>
    </p>
  </li>
  <li>
    <span class="badge">Disabled:</span> <br>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-primary" disabled>Disabled</button>
      <button type="button" class="btn btn-primary">Not Disabled</button>
      <button type="button" class="btn btn-link" disabled routerLink="/ngxd">Disabled Link</button>
      <button type="button" class="btn btn-link" routerLink="/ngxd">Not Disabled Link</button>
      <a routerLink="/ngxd" class="btn btn-primary disabled">&lt;a&gt; Style Link As Disabled Button.</a>
      <a routerLink="/ngxd" class="btn btn-primary">&lt;a&gt; Style Link As Button.  Not Disabled.</a>
    </p>
  </li>
  <li>
    <span class="badge">Spinners:</span> IN BOOTSTRAP BUT NOT NGX BOOTSTRAP<br>
    <p class="materialDemoItem">
      <button type="button" class="btn btn-primary" disabled><span class="spinner-border spinner-border-sm"></span></button>
      <button type="button" class="btn btn-primary" disabled><span class="spinner-border spinner-border-sm"> </span> Loading...</button>
      <button type="button" class="btn btn-primary" disabled><span class="spinner-grow spinner-grow-sm"> </span> Loading...</button>
      <button type="button" class="btn btn-primary" disabled><mat-spinner></mat-spinner> Loading...(using mat-spinner)</button>


    </p>
  </li>
  
</ul>
<a routerLink="/ngxd">Return To NGX Bootstrap Demo</a>
<br><br>
<p>Sources: </p>
  <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-buttons.php">https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-buttons.php</a>