/* Add application styles & imports to this file! */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/* Tob Bar */
.topbar-nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: rgb(14, 122, 126);
                    }
                }
            }
        }
    }

.topbar-containerx {
    width: 90%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 40% auto;
    align-items: center;
    a {
        color: white;
    }
}
.app-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        color: white;
    }
}
.contentFrame {
  margin-top: 70px;
  padding: 0.1em;
  border:1px solid rgb(134, 143, 167);
  height: 90%;
  width: 100%;
  a { color: darkblue; }
  background-color: whitesmoke;
}
.topbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.topbar-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
h1.topbar-app-name {
  margin-left: 8px;
}

/* Sidenav */
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-sidenav {
  width: 150px;
}


/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* theme */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'my-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}
