.demoItem2 {
  padding: 2px;
  text-align: left;
  color: rgb(6, 1, 22);

  background-color: rgb(226, 230, 219);
  border-radius: 2px;
  float: left;
  min-width: 80%;
}
.demoItem1 {
  padding: 2px;
  text-align: left;
  color: #222;
  background-color: rgb(245, 245, 237);
  border-radius: 2px;
  float: left;
  min-width: 80%;
}
li .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


mat-slider {
  width: 300px;
}
