<mat-sidenav-container  >
  <mat-sidenav #sidenav mode="side" [(opened)]="localSidenavOpened">
    Side Bar Content Here
    <p><button mat-button *ngIf="localSidenavOpened" (click)="sidenav.toggle()">Hide Local Side Bar</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    
    <h1>Welcome {{siteName}}!</h1>
    <ul>
      <li [elmHighlight]="'yellow'">Banner: In Progress</li>
      <li>Sidebar: In Progress</li>
      <li>Content Pages:</li>
        <ul>
          <li appHighlight><a routerLink="/">Home Example:</a> In Progress</li>
          <li><a routerLink="/cards">Cards Example:</a> In Progress</li>
          <li><a routerLink="/aoi">AOI Management Page:</a> To Do</li>
          <li>Other Content Pages: To Do</li>
        </ul>
    </ul>

    <p><button mat-button *ngIf="!localSidenavOpened" (click)="sidenav.toggle()">Show Local Side Bar</button></p>

    <p><button mat-button *ngIf="!displayDemoStuff" (click)="showDemoStuff()">Show Demo Stuff</button></p>

<div *ngIf="displayDemoStuff">
<p>____________________________________________</p>
<h2>DEMO STUFF</h2>
<p><button mat-button *ngIf="displayDemoStuff" (click)="hideDemoStuff()">Hide Demo Stuff</button></p>
    
<div>
    <h3>1. HIGHLIGHT ON HOVER</h3>
    <p>Highlighting of text on hover provided by an Attributue Directive defined in another NgModule where the highlight color is provided by the calling component.</p>
    <h4>Pick a highlight color</h4>
    <div>
      <div>
        <input type="radio" name="colors" (click)="highlightColor='lightgreen'">Green
        <input type="radio" name="colors" (click)="highlightColor='yellow'">Yellow
        <input type="radio" name="colors" (click)="highlightColor='cyan'">Cyan
      </div>
      <p [elmHighlight]="highlightColor">HIGHLIGHT ON HOVER TEXT</p>
    </div>
  </div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>